body {
 background-image: url("images/homepage.jpg");
 background-color: #808080	
}
.circular--square {
  border-radius: 50%;
    width: 20%;
  height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
position: relative;
top: 100px;

}

.ml16 {
  color: #000000;
  padding: 40px 0;
  font-weight: 1200;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
  text-align: center;
    display: block;
position: relative;

}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.neon {
  color: #008000;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
      font-size: 3em;

    text-align: center;
    display: block;
	position: relative;

}
